<h1>Changing ID</h1>
<form action="/contacts" method="post">
	<input type="text" name="id"> 
  <input type="submit" name="Submit" value="Update">
</form>

<% @@rolodex.contacts.each do |contact| %>
  <% if contact.id == @@id.to_i %>   
    <% contact.id = params[:id] %>
  <% end %>
<% end %>