small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*/

.head {
	width: 100%;
	height: 220px;
	background-color: rgba(62, 152, 189, 0.6);
}

.main {
	width: 31%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 600px;
}

.foot {
  width: 100%;
	height: 100px;
	background-color: #BBFFB1;
	clear: both;	
}

#main1 {
  background-color: #70D4B1;
  text-align: center;
}

#main2 {
  background-color: #F7EEA9;
  margin-left: 3.5%;
}

#main3 {
  background-color: #F08270;
  float: right;
  
}

h4 {
	color: tomato;
}

.foot_list {
	clear: both;
}

#head_title {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.link {
	display: inline;
}

.main_text {
	list-style-type: none;
	text-align: center;
}

.container {
        width: 150px;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }
    .container input {
        width: 100%;
        clear: both;
    }

.copyright {
	line-height: 40px;
	text-align: center;
}

.foot_link {
	text-align: center;
	line-height: 50px;	
}